body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Air_india_b747-400_vt-esn_arp.jpg/450px-Air_india_b747-400_vt-esn_arp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}